.container-fluid
  %table.table.table-bordered.table-hover.text-center
    %thead
      %tr
        %th Número de Control
        %th Nombres
        %th Apellidos
        %th Dirección
        %th Email
        %th Teléfono
        %th Celular
        %th Nacimiento
        %th Ingreso
        %th Activo
        %th Pago
        %th Carrera
        %th Grupo
        %th
        %th
        %th

    %tbody
      - @students.each do |student|
        %tr
          %td= student.control
          %td= student.nombre
          %td= student.appelidos
          %td= student.direccion
          %td= student.email
          %td= student.telefono
          %td= student.celular
          %td= student.nacimiento
          %td= student.ingreso
          %td= student.activo
          %td= student.pago
          %td= student.carrera
          %td= student.grupo
          %td= link_to 'Show', student
          %td= link_to 'Edit', edit_student_path(student)
          %td= link_to 'Destroy', student, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'Nuevo Estudiante', new_student_path
