%p#notice= notice

%p
  %b Control:
  = @student.control
%p
  %b Nombre:
  = @student.nombre
%p
  %b Appelidos:
  = @student.appelidos
%p
  %b Direccion:
  = @student.direccion
%p
  %b Email:
  = @student.email
%p
  %b Telefono:
  = @student.telefono
%p
  %b Celular:
  = @student.celular
%p
  %b Nacimiento:
  = @student.nacimiento
%p
  %b Ingreso:
  = @student.ingreso
%p
  %b Activo:
  = @student.activo
%p
  %b Pago:
  = @student.pago
%p
  %b Carrera:
  = @student.carrera
%p
  %b Grupo:
  = @student.grupo

= link_to 'Editar', edit_student_path(@student)
\|
= link_to 'Regresar', students_path
