- if !usuario_signed_in?
  = render 'layouts/banner'
.slider
  %ul
    %li= image_tag "edificio.jpg"
    %li= image_tag "graduacion.jpg"
    %li= image_tag "uni.jpg"
.container-fluid
  .col-md-12.top-padding.bottom-padding
    %h1.text-center.navy-text Bienvenidos a UDP
  .col-sm-6.col-lg-4.text-center.border
    %h3.blue-text Carreras
    .circle.bg-green.center-block.small-margin.padding-xs=link_to (image_tag "lic.png", width: 100), welcome_carreras_path
    %p.top-padding=link_to "Conoce nuestras Carreras", welcome_carreras_path
  .col-sm-6.col-lg-4.text-center.border
    %h3.blue-text Maestrías
    .circle.bg-green.center-block.small-margin.padding-xs=link_to (image_tag "maestrias.png", width: 100), welcome_carreras_path
    %p.top-padding=link_to "Conoce nuestras Maestrías", welcome_carreras_path
  .col-sm-6.col-lg-4.text-center.border
    %h3.blue-text Campus
    .circle.bg-green.center-block.small-margin.padding-xs=link_to (image_tag "campus.png", width: 100), welcome_quienes_somos_path
    %p.top-padding=link_to "Conoce nuestro Campus", welcome_quienes_somos_path
  .col-sm-6.col-lg-4.text-center.border
    %h3.blue-text Inscripciones
    .circle.bg-green.center-block.small-margin.padding-xs=link_to (image_tag "inscripcion.png", width: 100)
    %p.top-padding=link_to "Conoce los requisitos de Inscripción"
  .col-sm-6.col-lg-4.text-center.border
    %h3.blue-text Becas
    .circle.bg-green.center-block.small-margin.padding-xs=link_to (image_tag "becas.png", width: 100)
    %p.top-padding=link_to "Conoce nuestras Becas"
  .col-sm-6.col-lg-4.text-center.border
    %h3.blue-text Servicio Social
    .circle.bg-green.center-block.small-margin.padding-xs=link_to (image_tag "social.png", width: 100)
    %p.top-padding=link_to "Realiza tu servicio social"
.container
  .col-md-12.top-margin-md
    %h2.text-center.navy-text Noticias Recientes
    - @posts.each do |post|
      .col-md-4.col-sm-6.border.small-margin
        %h4.text-center.blue-text= post.title
        .imagen.padding-sm.puntero{ "data-toggle" => "modal", "data-target" => "#miModal#{post.id}" }=image_tag post.image
        %p.padding-sm= post.description[0..140] + "..."
        %button{ "type" => "button", "class" => "btn btn-primary btn-sm", "data-toggle" => "modal", "data-target" => "#miModal#{post.id}" } Leer Más
        .modal.fade{ "id" => "miModal#{post.id}", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel" }
          .modal-dialog{ "role" => "document" }
            .modal-content
              .modal-header.bg-green
                %button{ "type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
                  %span{ "aria-hidden" => "true"} &times;
                %h4.text-center.white-text.bottom-padding-xs#myModalLabel= post.title
              .modal-body.bg-success
                .imagen.padding-sm=image_tag post.image
                %p.padding-sm= post.description
              .modal-footer
                %br
                %button{ "type" => "button", :class => "btn btn-primary btn-sm", "data-dismiss" => "modal"} Close
        - if usuario_signed_in?
          %p= link_to 'Editar', edit_post_path(post)
          %p= link_to 'Eliminar', post, :method => :delete, :data => { :confirm => 'Estás seguro?' }
  - if usuario_signed_in?
    %p.pull-right= link_to '+ Agregar Post', new_post_path
.col-md-12.top-margin-md
  %h2.text-center.navy-text Nuestras Carreras
= render 'layouts/carrera'